<a href="https://colab.research.google.com/github/RafsanJany-44/Research_5_Sleep_Stages_Classification/blob/main/Features_Selection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
from psutil import virtual_memory
ram_gb = virtual_memory().total / 1e9
print('Your runtime has {:.1f} gigabytes of available RAM\n'.format(ram_gb))

if ram_gb < 20:
  print('Not using a high-RAM runtime')
else:
  print('You are using a high-RAM runtime!')

Your runtime has 27.3 gigabytes of available RAM

You are using a high-RAM runtime!

#Function

###Null value check

In [15]:

def Search_Null(df):
  dic={}
  for col in list(df.columns):
    rows = []
    flage = 0
    for row in range(df.shape[0]):
      if str(df[col][row]) == "nan":
        rows.append(row)
        flage = 1
    if flage ==1:
      dic[col] = rows
  
  return dic

In [4]:
import pandas as pd
import numpy as np

primary_dataset = pd.read_excel('/content/drive/MyDrive/Machine Learning Models/5 Stage Sleep Classification/DataSet/EEG_HMC_FeatureExtraction_All_Data_2022.12.04.xlsx')

In [6]:
primary_dataset.head()

,Subject,Sleep Stage,Epoch,MeanP_Alpha_F4,MedianF_Alpha_F4,MeanF_Alpha_F4,Spectral Edge_Alpha_F4,PeakF_Alpha_F4,MeanP_Beta_F4,MedianF_Beta_F4,...,DAR_G,DTR_F4,DTR_C4,DTR_O2,DTR_G,DTABR_F4,DTABR_C4,DTABR_O2,DTABR_G,P_G
0,SN002,W,0,0.00051,8.74146,18.48195,17.48293,8.24195,0.00071,19.73073,...,18.191758,8.851240,5.786885,18.564103,11.067409,9.770492,3.833333,8.670455,7.424760,0.009177
1,SN002,W,1,0.0004,10.24,17.48293,16.85854,10.61463,0.00051,17.23317,...,16.621053,8.693548,5.173913,28.920000,14.262487,6.604396,3.155556,12.262295,7.340749,0.006355
2,SN002,W,2,0.00036,9.74049,17.98244,17.48293,8.74146,0.00047,17.6078,...,15.327441,16.389831,7.090909,9.583333,11.021358,12.361446,4.188235,4.618182,7.055954,0.006283
3,SN002,W,3,0.00035,10.11512,17.6078,17.10829,9.61561,0.00047,17.35805,...,4.718095,5.302326,3.600000,3.640000,4.180775,3.304878,2.067416,1.901639,2.424644,0.002777
4,SN002,W,4,0.00033,9.74049,17.6078,17.23317,8.11707,0.00043,17.23317,...,8.542423,8.226415,3.921053,7.291667,6.479711,6.434211,2.527027,3.491228,4.150822,0.003691

In [7]:
dataset = primary_dataset.loc[:,primary_dataset.columns != "Subject"]
dataset = dataset.loc[:,dataset.columns != "Epoch"]

In [8]:
dataset.head()

,Sleep Stage,MeanP_Alpha_F4,MedianF_Alpha_F4,MeanF_Alpha_F4,Spectral Edge_Alpha_F4,PeakF_Alpha_F4,MeanP_Beta_F4,MedianF_Beta_F4,MeanF_Beta_F4,Spectral Edge_Beta_F4,...,DAR_G,DTR_F4,DTR_C4,DTR_O2,DTR_G,DTABR_F4,DTABR_C4,DTABR_O2,DTABR_G,P_G
0,W,0.00051,8.74146,18.48195,17.48293,8.24195,0.00071,19.73073,29.84585,33.84195,...,18.191758,8.851240,5.786885,18.564103,11.067409,9.770492,3.833333,8.670455,7.424760,0.009177
1,W,0.0004,10.24,17.48293,16.85854,10.61463,0.00051,17.23317,26.34927,29.34634,...,16.621053,8.693548,5.173913,28.920000,14.262487,6.604396,3.155556,12.262295,7.340749,0.006355
2,W,0.00036,9.74049,17.98244,17.48293,8.74146,0.00047,17.6078,25.47512,28.22244,...,15.327441,16.389831,7.090909,9.583333,11.021358,12.361446,4.188235,4.618182,7.055954,0.006283
3,W,0.00035,10.11512,17.6078,17.10829,9.61561,0.00047,17.35805,26.47415,28.72195,...,4.718095,5.302326,3.600000,3.640000,4.180775,3.304878,2.067416,1.901639,2.424644,0.002777
4,W,0.00033,9.74049,17.6078,17.23317,8.11707,0.00043,17.23317,25.84976,28.09756,...,8.542423,8.226415,3.921053,7.291667,6.479711,6.434211,2.527027,3.491228,4.150822,0.003691

In [19]:
dataset.shape

(109006, 112)

In [5]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
dataset["Sleep_Stage"]=encoder.fit_transform(dataset["Sleep_Stage"])

In [10]:
columns_name = list(dataset.columns)
columns_name.remove("Sleep Stage")

In [16]:
check = Search_Null(dataset)

In [18]:
check["Sleep Stage"]

[88328,
 88329,
 88330,
 88331,
 88332,
 88333,
 88334,
 88335,
 88336,
 88337,
 88338,
 88339,
 88340,
 88341,
 88342,
 88343,
 88344,
 88345,
 88346,
 88347,
 88348,
 88349,
 88350,
 88351,
 88352,
 88353,
 88354,
 88355,
 88356,
 88357,
 88358,
 88359,
 88360,
 88361,
 88362,
 88363,
 88364,
 88365,
 88366,
 88367,
 88368,
 88369,
 88370,
 88371,
 88372,
 88373,
 88374,
 88375,
 88376,
 88377,
 88378,
 88379,
 88380,
 88381,
 88382,
 88383,
 88384,
 88385,
 88386,
 88387,
 88388,
 88389,
 88390,
 88391,
 88392,
 88393,
 88394,
 88395,
 88396,
 88397,
 88398,
 88399,
 88400,
 88401,
 88402,
 88403,
 88404,
 88405,
 88406,
 88407,
 88408,
 88409,
 88410,
 88411]

In [19]:
dataset.shape

(108451, 102)

In [20]:
dataset["Sleep_Stage"].value_counts()

N2    39428
N3    21290
W     19355
R     16465
N1    11913
Name: Sleep_Stage, dtype: int64

In [ ]:
#temp=["DAR","DTR","DTABR","RelativePower_Delta_C4","RelativePower_Delta"]

#for i in temp:
#  columns_name.remove(i)

In [22]:
X = dataset.loc[:,dataset.columns != "Sleep_Stage"] #dataset[columns_name]
y = dataset["Sleep_Stage"]

In [23]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108451 entries, 0 to 108450
Columns: 101 entries, MeanP_Alpha_F4 to RelativePower_Gamma
dtypes: float64(101)
memory usage: 83.6 MB

In [96]:
number_of_feat=int(input("Number Of Best Features: "))

Number Of Best Features: 30

#Filter Method (Model Free)

In [97]:
from sklearn.feature_selection import SelectKBest
bestfeatures_1 = SelectKBest(k=10)
fit = bestfeatures_1.fit(X,y)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(X.columns)
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Best_columns','Score_bestfeatures_1']
lyst = featureScores.nlargest(number_of_feat,'Score_bestfeatures_1')
lyst.to_csv('Filter_Method_bestfeatures_1.csv')

In [98]:
from sklearn.feature_selection import SelectFpr, f_classif

bestfeatures_3=SelectFpr(f_classif, alpha=0.1)
fit = bestfeatures_3.fit(X,y)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(X.columns)
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Specs','Score_bestfeatures_3']
lyst=featureScores.nlargest(number_of_feat,'Score_bestfeatures_3')

lyst.to_csv('Filter_Method_bestfeatures_3.csv')

#Pearson’s with f_regression()

In [100]:
from sklearn.datasets import make_regression
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_regression
import pandas as pd


fs = SelectKBest(score_func=f_regression, k=5)
fit = fs.fit(X,y)

dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(columns_name)
featureScores = pd.concat([dfcolumns,dfscores],axis=1)

featureScores.columns = ['Best_columns','Score_pearsons'] 


lyst = featureScores.nlargest(30,'Score_pearsons')

lyst.to_csv('Filter_Method_Pearson’s_with_f_regression.csv')

#ANOVA with f_classif()

In [101]:
from sklearn.datasets import make_classification
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif
import pandas as pd



fs = SelectKBest(score_func=f_classif, k=5)
fit = fs.fit(X,y)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(columns_name)

featureScores = pd.concat([dfcolumns,dfscores],axis=1)

featureScores.columns = ['Best_columns','Score_ANOVA'] 

lyst = featureScores.nlargest(30,'Score_ANOVA')
lyst.to_csv('Filter_Method_ANOVA_with_f_classif.csv')



---