<a href="https://colab.research.google.com/github/RafsanJany-44/Research_5_Sleep_Stages_Classification/blob/main/Features_Selection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
from psutil import virtual_memory
ram_gb = virtual_memory().total / 1e9
print('Your runtime has {:.1f} gigabytes of available RAM\n'.format(ram_gb))

if ram_gb < 20:
  print('Not using a high-RAM runtime')
else:
  print('You are using a high-RAM runtime!')

Your runtime has 27.3 gigabytes of available RAM

You are using a high-RAM runtime!

In [3]:
import pandas as pd
import numpy as np

primary_dataset = pd.read_csv("/content/drive/MyDrive/Machine Learning Models/5 Stage Sleep Classification/DataSet/HMC_SleepStage_BioM.csv")
primary_dataset.head()

,Subject,Sleep_Stage,Epoch,MeanP_Alpha_F4,MedianF_Alpha_F4,MeanF_Alpha_F4,SpectralEdge_Alpha_F4,PeakF_Alpha_F4,MeanP_Beta_F4,MedianF_Beta_F4,...,RelativePower_Delta_O2,RelativePower_Gamma_O2,DAR,DTR,DTABR,RelativePower_Alpha,RelativePower_Beta,RelativePower_Theta,RelativePower_Delta,RelativePower_Gamma
0,SN002,N1,6,0.0,10.11512,17.85756,17.48293,10.24000,0.0,17.73268,...,0.555528,0.0377,3.060271,2.573128,1.751269,0.1210,0.172551,0.1439,0.370155,0.035611
1,SN002,N1,7,0.0,10.73951,17.60780,17.10829,9.11610,0.0,16.85854,...,0.439643,0.0453,2.260982,1.905070,1.412719,0.1384,0.199317,0.1642,0.312834,0.039305
2,SN002,N1,8,0.0,9.36585,17.60780,16.98341,9.24098,0.0,17.35805,...,0.437674,0.0394,2.350210,1.491650,1.801123,0.1333,0.157235,0.2100,0.313262,0.033253
3,SN002,N1,116,0.0,9.74049,15.98439,15.48488,8.36683,0.0,14.61073,...,0.460881,0.0220,2.313885,2.124316,1.661496,0.1535,0.160948,0.1672,0.355280,0.017952
4,SN002,N1,117,0.0,10.11512,16.48390,15.98439,12.23805,0.0,15.11024,...,0.555519,0.0212,4.559910,4.038845,2.715109,0.1015,0.111131,0.1146,0.462663,0.013991

In [4]:
dataset = primary_dataset.loc[:,primary_dataset.columns != "Subject"]
dataset = dataset.loc[:,dataset.columns != "Epoch"]
dataset.head()

,Sleep_Stage,MeanP_Alpha_F4,MedianF_Alpha_F4,MeanF_Alpha_F4,SpectralEdge_Alpha_F4,PeakF_Alpha_F4,MeanP_Beta_F4,MedianF_Beta_F4,MeanF_Beta_F4,SpectralEdge_Beta_F4,...,RelativePower_Delta_O2,RelativePower_Gamma_O2,DAR,DTR,DTABR,RelativePower_Alpha,RelativePower_Beta,RelativePower_Theta,RelativePower_Delta,RelativePower_Gamma
0,N1,0.0,10.11512,17.85756,17.48293,10.24000,0.0,17.73268,25.35024,27.47317,...,0.555528,0.0377,3.060271,2.573128,1.751269,0.1210,0.172551,0.1439,0.370155,0.035611
1,N1,0.0,10.73951,17.60780,17.10829,9.11610,0.0,16.85854,25.22537,26.97366,...,0.439643,0.0453,2.260982,1.905070,1.412719,0.1384,0.199317,0.1642,0.312834,0.039305
2,N1,0.0,9.36585,17.60780,16.98341,9.24098,0.0,17.35805,26.09951,28.47220,...,0.437674,0.0394,2.350210,1.491650,1.801123,0.1333,0.157235,0.2100,0.313262,0.033253
3,N1,0.0,9.74049,15.98439,15.48488,8.36683,0.0,14.61073,21.72878,22.47805,...,0.460881,0.0220,2.313885,2.124316,1.661496,0.1535,0.160948,0.1672,0.355280,0.017952
4,N1,0.0,10.11512,16.48390,15.98439,12.23805,0.0,15.11024,22.10341,23.47707,...,0.555519,0.0212,4.559910,4.038845,2.715109,0.1015,0.111131,0.1146,0.462663,0.013991

In [5]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
dataset["Sleep_Stage"]=encoder.fit_transform(dataset["Sleep_Stage"])

In [6]:
dataset.head()

,Sleep_Stage,MeanP_Alpha_F4,MedianF_Alpha_F4,MeanF_Alpha_F4,SpectralEdge_Alpha_F4,PeakF_Alpha_F4,MeanP_Beta_F4,MedianF_Beta_F4,MeanF_Beta_F4,SpectralEdge_Beta_F4,...,RelativePower_Delta_O2,RelativePower_Gamma_O2,DAR,DTR,DTABR,RelativePower_Alpha,RelativePower_Beta,RelativePower_Theta,RelativePower_Delta,RelativePower_Gamma
0,0,0.0,10.11512,17.85756,17.48293,10.24000,0.0,17.73268,25.35024,27.47317,...,0.555528,0.0377,3.060271,2.573128,1.751269,0.1210,0.172551,0.1439,0.370155,0.035611
1,0,0.0,10.73951,17.60780,17.10829,9.11610,0.0,16.85854,25.22537,26.97366,...,0.439643,0.0453,2.260982,1.905070,1.412719,0.1384,0.199317,0.1642,0.312834,0.039305
2,0,0.0,9.36585,17.60780,16.98341,9.24098,0.0,17.35805,26.09951,28.47220,...,0.437674,0.0394,2.350210,1.491650,1.801123,0.1333,0.157235,0.2100,0.313262,0.033253
3,0,0.0,9.74049,15.98439,15.48488,8.36683,0.0,14.61073,21.72878,22.47805,...,0.460881,0.0220,2.313885,2.124316,1.661496,0.1535,0.160948,0.1672,0.355280,0.017952
4,0,0.0,10.11512,16.48390,15.98439,12.23805,0.0,15.11024,22.10341,23.47707,...,0.555519,0.0212,4.559910,4.038845,2.715109,0.1015,0.111131,0.1146,0.462663,0.013991

In [7]:
dataset.describe()

,Sleep_Stage,MeanP_Alpha_F4,MedianF_Alpha_F4,MeanF_Alpha_F4,SpectralEdge_Alpha_F4,PeakF_Alpha_F4,MeanP_Beta_F4,MedianF_Beta_F4,MeanF_Beta_F4,SpectralEdge_Beta_F4,...,RelativePower_Delta_O2,RelativePower_Gamma_O2,DAR,DTR,DTABR,RelativePower_Alpha,RelativePower_Beta,RelativePower_Theta,RelativePower_Delta,RelativePower_Gamma
count,108451.000000,108451.000000,108451.000000,108451.000000,108451.000000,108451.000000,108451.000000,108451.000000,108451.000000,108451.000000,...,108451.000000,108451.000000,106998.000000,106998.000000,106998.000000,108451.000000,108451.000000,108451.000000,106998.000000,108451.000000
mean,1.925506,0.000432,9.083249,15.611500,14.831974,9.080123,0.000279,17.282671,27.382434,29.446835,...,0.616795,0.044355,164.003983,50.614632,93.843527,0.093405,0.092234,0.136250,1.284550,0.038165
std,1.289612,0.012308,1.954552,4.051531,4.324595,5.159732,0.008035,14.226341,13.689974,14.190779,...,0.203306,0.099781,2437.036196,603.102976,1436.047359,0.057018,0.067891,0.059662,7.703199,0.078006
min,0.000000,0.000000,0.124880,0.874150,0.124880,0.124880,0.000000,6.243900,14.735610,13.361950,...,0.002844,0.000000,0.158608,0.259237,0.041824,0.000000,0.000000,0.000000,0.007847,0.000000
25%,1.000000,0.000000,8.366830,13.861460,12.987320,7.242930,0.000000,12.612680,22.103410,22.727800,...,0.493367,0.006000,2.976406,2.124648,2.128119,0.052200,0.041694,0.091400,0.367517,0.005504
50%,2.000000,0.000000,9.116100,15.235120,14.236100,8.366830,0.000000,14.485850,23.976590,25.350240,...,0.623010,0.013100,5.223130,3.290795,3.563802,0.086300,0.078019,0.138000,0.464379,0.012989
75%,3.000000,0.000000,9.865370,16.733660,15.859510,9.990240,0.000000,17.108290,27.722930,31.344390,...,0.768692,0.032000,11.065224,6.247572,7.111501,0.124000,0.125928,0.177600,0.609700,0.032856
max,4.000000,1.000000,127.875120,127.875120,127.875120,127.875120,0.600000,127.875120,127.875120,127.875120,...,1.000000,0.766200,254164.941700,54147.881810,134858.244800,0.374800,0.502920,0.396200,467.754726,0.765630

In [8]:
columns_name = list(dataset.columns)
columns_name.remove("Sleep_Stage")

In [10]:
dataset[columns_name]

,MeanP_Alpha_F4,MedianF_Alpha_F4,MeanF_Alpha_F4,SpectralEdge_Alpha_F4,PeakF_Alpha_F4,MeanP_Beta_F4,MedianF_Beta_F4,MeanF_Beta_F4,SpectralEdge_Beta_F4,PeakF_Beta_F4,...,RelativePower_Delta_O2,RelativePower_Gamma_O2,DAR,DTR,DTABR,RelativePower_Alpha,RelativePower_Beta,RelativePower_Theta,RelativePower_Delta,RelativePower_Gamma
0,0.0,10.11512,17.85756,17.48293,10.24000,0.0,17.73268,25.35024,27.47317,14.36098,...,0.555528,0.0377,3.060271,2.573128,1.751269,0.1210,0.172551,0.1439,0.370155,0.035611
1,0.0,10.73951,17.60780,17.10829,9.11610,0.0,16.85854,25.22537,26.97366,16.60878,...,0.439643,0.0453,2.260982,1.905070,1.412719,0.1384,0.199317,0.1642,0.312834,0.039305
2,0.0,9.36585,17.60780,16.98341,9.24098,0.0,17.35805,26.09951,28.47220,14.98537,...,0.437674,0.0394,2.350210,1.491650,1.801123,0.1333,0.157235,0.2100,0.313262,0.033253
3,0.0,9.74049,15.98439,15.48488,8.36683,0.0,14.61073,21.72878,22.47805,14.86049,...,0.460881,0.0220,2.313885,2.124316,1.661496,0.1535,0.160948,0.1672,0.355280,0.017952
4,0.0,10.11512,16.48390,15.98439,12.23805,0.0,15.11024,22.10341,23.47707,12.23805,...,0.555519,0.0212,4.559910,4.038845,2.715109,0.1015,0.111131,0.1146,0.462663,0.013991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108446,0.0,9.99024,17.10829,16.35902,7.49268,0.0,16.85854,26.22439,28.34732,13.86146,...,0.322863,0.0452,1.178776,1.122446,0.993903,0.1838,0.228411,0.1930,0.216673,0.047498
108447,0.0,10.48976,16.60878,16.10927,8.86634,0.0,15.73463,24.35122,26.09951,13.23707,...,0.478966,0.0240,2.105384,1.750226,1.552894,0.1525,0.172402,0.1835,0.321097,0.024267
108448,0.0,10.48976,18.73171,18.48195,8.86634,0.0,19.73073,29.09659,32.46829,16.98341,...,0.291209,0.0879,1.123723,1.299364,0.733184,0.1738,0.297587,0.1503,0.195307,0.093975
108449,0.0,10.11512,17.85756,17.48293,11.61366,0.0,19.73073,29.72098,32.96780,22.85268,...,0.707521,0.0334,5.470780,4.893226,2.719666,0.0873,0.124219,0.0976,0.477680,0.035929
108450,0.0,10.61463,21.47902,21.35415,8.24195,0.0,23.22732,33.21756,38.08780,21.47902,...,0.759440,0.0496,9.943353,8.551993,2.967408,0.0528,0.144826,0.0614,0.525054,0.081130

In [89]:
dataset.shape

(108451, 102)

In [11]:
dataset["Sleep_Stage"].value_counts()

1    39428
2    21290
4    19355
3    16465
0    11913
Name: Sleep_Stage, dtype: int64

In [12]:
dataset.head()

,Sleep_Stage,MeanP_Alpha_F4,MedianF_Alpha_F4,MeanF_Alpha_F4,SpectralEdge_Alpha_F4,PeakF_Alpha_F4,MeanP_Beta_F4,MedianF_Beta_F4,MeanF_Beta_F4,SpectralEdge_Beta_F4,...,RelativePower_Delta_O2,RelativePower_Gamma_O2,DAR,DTR,DTABR,RelativePower_Alpha,RelativePower_Beta,RelativePower_Theta,RelativePower_Delta,RelativePower_Gamma
0,0,0.0,10.11512,17.85756,17.48293,10.24000,0.0,17.73268,25.35024,27.47317,...,0.555528,0.0377,3.060271,2.573128,1.751269,0.1210,0.172551,0.1439,0.370155,0.035611
1,0,0.0,10.73951,17.60780,17.10829,9.11610,0.0,16.85854,25.22537,26.97366,...,0.439643,0.0453,2.260982,1.905070,1.412719,0.1384,0.199317,0.1642,0.312834,0.039305
2,0,0.0,9.36585,17.60780,16.98341,9.24098,0.0,17.35805,26.09951,28.47220,...,0.437674,0.0394,2.350210,1.491650,1.801123,0.1333,0.157235,0.2100,0.313262,0.033253
3,0,0.0,9.74049,15.98439,15.48488,8.36683,0.0,14.61073,21.72878,22.47805,...,0.460881,0.0220,2.313885,2.124316,1.661496,0.1535,0.160948,0.1672,0.355280,0.017952
4,0,0.0,10.11512,16.48390,15.98439,12.23805,0.0,15.11024,22.10341,23.47707,...,0.555519,0.0212,4.559910,4.038845,2.715109,0.1015,0.111131,0.1146,0.462663,0.013991

In [ ]:
temp=["DAR","DTR","DTABR","RelativePower_Delta_C4","RelativePower_Delta"]

for i in temp:
  columns_name.remove(i)

In [17]:
X = dataset[columns_name]#dataset.loc[:,dataset.columns != "Sleep_Stage"]
y = dataset["Sleep_Stage"]

In [18]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108451 entries, 0 to 108450
Data columns (total 6 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Sleep_Stage             108451 non-null  int64
 1   DAR                     106998 non-null  float64
 2   DTR                     106998 non-null  float64
 3   DTABR                   106998 non-null  float64
 4   RelativePower_Delta_C4  106998 non-null  float64
 5   RelativePower_Delta     106998 non-null  float64
dtypes: float64(5), int64(1)
memory usage: 5.0 MB

In [96]:
number_of_feat=int(input("Number Of Best Features: "))

Number Of Best Features: 30

#Filter Method (Model Free)

In [97]:
from sklearn.feature_selection import SelectKBest
bestfeatures_1 = SelectKBest(k=10)
fit = bestfeatures_1.fit(X,y)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(X.columns)
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Best_columns','Score_bestfeatures_1']
lyst = featureScores.nlargest(number_of_feat,'Score_bestfeatures_1')
lyst.to_csv('Filter_Method_bestfeatures_1.csv')

In [98]:
from sklearn.feature_selection import SelectFpr, f_classif

bestfeatures_3=SelectFpr(f_classif, alpha=0.1)
fit = bestfeatures_3.fit(X,y)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(X.columns)
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Specs','Score_bestfeatures_3']
lyst=featureScores.nlargest(number_of_feat,'Score_bestfeatures_3')

lyst.to_csv('Filter_Method_bestfeatures_3.csv')

#Pearson’s with f_regression()

In [100]:
from sklearn.datasets import make_regression
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_regression
import pandas as pd


fs = SelectKBest(score_func=f_regression, k=5)
fit = fs.fit(X,y)

dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(columns_name)
featureScores = pd.concat([dfcolumns,dfscores],axis=1)

featureScores.columns = ['Best_columns','Score_pearsons'] 


lyst = featureScores.nlargest(30,'Score_pearsons')

lyst.to_csv('Filter_Method_Pearson’s_with_f_regression.csv')

#ANOVA with f_classif()

In [101]:
from sklearn.datasets import make_classification
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif
import pandas as pd



fs = SelectKBest(score_func=f_classif, k=5)
fit = fs.fit(X,y)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(columns_name)

featureScores = pd.concat([dfcolumns,dfscores],axis=1)

featureScores.columns = ['Best_columns','Score_ANOVA'] 

lyst = featureScores.nlargest(30,'Score_ANOVA')
lyst.to_csv('Filter_Method_ANOVA_with_f_classif.csv')